.container {
  display: grid;
  grid-template-columns: 120px auto auto 120px;
  background-color: dodgerblue;
  padding: 10px;
}
/* >div child selector */
.container > div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.oneColumn {
  border: 8px solid red;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  padding: 10px;
}

.cat {
  display: grid;
  grid-template-columns: auto auto auto ;
  padding: 10px;
}
